.header-main{
    background-color: white;
    color: black;
    width: 100%;
    height: 100vh;
}
.header-container{
    padding: 20px;
}
.header-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 250px;
    height: 250px;
}
.card{
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
    width: 500px;
    margin: 10px;
    height: 500px;
}
@media only screen and (max-width: 600px) {
    .header-flex{
        display: flex;
        flex-flow: column;
    }
    .card{
        width: 350px;
    }
    .header-header{
        height: 500px;
    }
}